/* Basic Reset */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background: #fbf9fa;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: monospace;
}

.container 
{
    background-color: #a2a8c5;
    border-radius: 2rem;
    box-shadow: 0 5px 20px 5px rgb(0,0,0,.4);
    /* setting max-width*/
    width: 100%;
    max-width: 500px;
    position: relative;
    /* Contents dont go outside the border */
    overflow: hidden;
}

/* Screens */



