/* Basic Reset */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}



body {
    display: flex;
    justify-content: center;
    background: #fbdaba;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: monospace;
}

.container 
{
    background-color: #8d9877;
    border-radius: 2rem;
    box-shadow: 0 5px 20px 5px rgb(0,0,0,.4);
    /* setting max-width*/
    width: 100%;
    max-width: 500px;
    position: relative;
    /* Contents dont go outside the border */
    overflow: hidden;
}

/* Screens */
.screen 
{
    display: none;
    padding: 2rem;
    text-align: center;

}


.screen.active
{
    display: block;
}


/* Start Screen*/

#start-screen h1
{
    background-color: #b5b8c7;
    padding: .5rem;
    border-radius: 2rem;
    margin-bottom: 15px;
    font-size: 2.5rem;
}

#start-screen p
{
    font-size:.85rem;
    background-color: #b5b8c7;
    border-radius: 1rem;
    width: 85%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: .4rem; 

}

#start-button
{
    background-color: #b5b8c7;
    border-radius: 2rem;
    border: solid;
    padding: 10px 25px;
    border-color: #9790ab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: monospace;
}

#start-button:hover
{
    background-color: #8e97c8;
    border-color: #7a748a;
}

/* Quiz Screen */

.quiz-header
{

}

#textForQuestion
{

}

.quiz-info
{
    display: flex; 
    justify-content: space-between;

    margin-bottom: 10px;

}

.quiz-bank
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

/* Quiz Button & States */
.quiz-btn
{
    background-color: whitesmoke;
    color: black;
    border: 2px solid black; 
    border-radius: 2rem;
    text-align: left;

}

/* Correct and Incorrect Buttons */
.quiz-btn.correct
{
    background-color: rgb(194, 246, 194);
}

.quiz-btn.incorrect
{
    background-color: rgb(255, 179, 179);
}

/* Progress Bar and its progress */
.progress-bar
{
    height: 10px;
    background-color: peachpuff;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 15px;
}

.progress
{
    height: 100%;
    background-color: rgb(255, 83, 53);
    /* Because the bar should be empty at the start, the width should start at 0% */
    width: 0%;
    transition: width 0.5s ease;

}

/* Results Screen */

#result-screen h1
{

}

.result-info
{
    background-color: #b5b8c7;
    border-radius: 2rem;
    padding: 20px;
    margin-bottom: 30px;


}

.result-info p
{
    font-size: 1rem;
    margin-bottom: 5px;

}

/* Responsive Design */
@media (max-width:500px) 
{
    /* when hitting 500px or below, implement styles below */
    .screen{
        padding: 10px;
        
    }

}




